/* Site Wide Article Styles */

.page-container {
    display: grid;
    grid-template-columns: 5fr 2fr;
    margin: 2rem 0;
    grid-gap: 1.5rem;
}

.page-container>*:first-child {
    grid-row: 1 / span 3;
}

.l-heading {
    font-size: 3rem;
}

#article .meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    padding: 0.5rem;
}

#article .meta .category {
    margin-top: 0.4rem;
    margin-left: 0.4rem;
}