/* Site Wide Navbar */

:root {
    --primary-color: #177777;
    --secondary-color: #f99500;
    --dark-color: #333;
    --social: #777;
}

#main-nav {
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 2;
}

#main-nav .container {
    display: grid;
    grid-template-columns: 6fr 3fr 2fr;
    padding: 1rem;
    align-items: center;
}

#logo {
    font-family: 'Staatliches', cursive;
    font-size: 2.5rem;
    font-weight: bold;
}

#logo span {
    color: var(--primary-color);
}

#main-nav ul {
    justify-self: end;
    display: flex;
}

#main-nav ul li a {
    padding: 0.75rem;
    font-weight: bold;
}

#main-nav ul li a.current {
    background-color: var(--primary-color);
    color: #fff;
}

#main-nav ul li a:hover {
    background-color: var(--light-color);
    color: var(--dark-color);
}

#main-nav .social {
    justify-self: center;
}

#main-nav .social i {
    color: var(--social);
    margin-right: 0.5rem;
}